:deep(.msg-item) {
  position: relative;

  pre.hljs {
    padding: 12px 2px 12px 40px !important;
    border-radius: 5px !important;
    position: relative;
    font-size: 14px !important;
    line-height: 22px !important;
    overflow: hidden !important;

    code {
      display: block !important;
      margin: 0 10px !important;
      overflow-x: auto !important;

      &::-webkit-scrollbar {
        z-index: 11;
        width: 6px;
      }

      &::-webkit-scrollbar:horizontal {
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        width: 6px;
        background: #666;
      }

      &::-webkit-scrollbar-corner,
      &::-webkit-scrollbar-track {
        background: #1e1e1e;
      }

      &::-webkit-scrollbar-track-piece {
        background: #1e1e1e;
        width: 6px;
      }
    }

    .line-numbers-rows {
      position: absolute;
      pointer-events: none;
      top: 12px;
      bottom: 12px;
      left: 0;
      font-size: 100%;
      width: 40px;
      text-align: center;
      letter-spacing: -1px;
      border-right: 1px solid rgba(0, 0, 0, 0.66);
      user-select: none;
      counter-reset: linenumber;

      span {
        pointer-events: none;
        display: block;
        counter-increment: linenumber;

        &:before {
          content: counter(linenumber);
          color: #999;
          display: block;
          text-align: center;
        }
      }
    }

    b.name {
      position: absolute;
      top: 2px;
      right: 50px;
      z-index: 10;
      color: #999;
      pointer-events: none;
    }

    .copy-btn {
      position: absolute;
      top: 2px;
      right: 4px;
      z-index: 10;
      color: #333;
      cursor: pointer;
      background-color: #fff;
      border: 0;
      border-radius: 2px;
    }
  }

  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code,
  p > code,
  li > code,
  table code {
    color: #c7254e;
    line-height: 1.2;
    font-family: consolas !important;
    vertical-align: middle;
    margin: 0 3px;
    background-color: #f9f2f4 !important;
    font-size: 14px !important;
    border-radius: 3px !important;
    border: 1px solid #f9f2f4 !important;
  }
}
